html,body{
	height: 75%;
	width: 75%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
h1{
	margin: 10% 0 0 30%;
	color: blue;
}

table{
	margin: 5% 0 0 30%;
	border-collapse: collapse;
}
th{
	width: 60px;
	height: 60px;
	border-color: rgb(122, 116, 116);
	text-align: center;
	font-size: 28px;
	font-style: oblique ;
	cursor: pointer;
}
.th1 {
	border-style: none inset inset none;
}
.th2 {
}
.th3 {
	border-style: none none inset inset;
}
.th4 {
}
.th5 {
	border-style: inset inset inset inset;
}
.th6 {
}
.th7 {
	border-style: inset inset none none;
}
.th8 {
}
.th9 {
	border-style: inset none none inset;
}
#d1 {
	margin: 5% 0 0 30%;
}
h3{
	margin: 0 0 5px;
}
#selX, #sel0 {
	transform:scale(1);
	margin: 0 20px 10px 0;
	display: inline-block;
}
.formSelX0_p1, .formSelX0_p2{
	display: inline-block;
	font-size: large;
}
#newGame{
	margin: 10px 0 0;
}